
    <div class="form-w3layouts">
        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                        Mon profile
                    </header>
                    <div class="panel-body">
                        <div class="fos_user_user_show">
                            <p>Nom d'utilisateur: {{ user.username }}</p>
                            <p>Adresse mail: {{ user.email }}</p>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>





